#root {
  max-width: 1280px;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f0f0;
  /* font-family: sans-serif; */
}

.h5, i {
  margin-left: 5px;
  margin-right: 5px;
}
.App {
  min-height: 100vh;
}

.card {
  padding: 2em;
}
